*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.sbr
obj/
[Rr]elease*/
/.vs/SafetyTestWindowsFormsApp/FileContentIndex/2252e99a-31b2-4048-bff7-b8e70e487c77.vsidx
/.vs/SafetyTestWindowsFormsApp/v17/DocumentLayout.json
/.vs/
